<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>FeetDrive Cloud</title>
    <style>
        body { font-family: Comic Sans MS, sans-serif; background-color: Navy; color: PaleVioletRed; text-align: center; }
        h1 { color: Lavender; }
        input { text-align: center; }
        ul { list-style-type: none; padding: 0; }
        li { margin: 5px; padding: 10px; }
        a { color: PaleVioletRed; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>FeetDrive Cloud</h1>
    <h3>Hochgeladene Dateien</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Datei hochladen</button>
    </form>

    <ul>
        {% for file in files %}
            <li>
                <a href="/download/{{ file }}" target="_blank">{{ file }}</a>
                <form action="/delete" method="post" style="display:inline;">
                    <input type="hidden" name="file_to_delete" value="{{ file }}">
                    <button type="submit" style="background-color:red;color:white;">Löschen</button>
                </form>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
